.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.form {
  width: 400px; /* Adjust width as needed */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

h2 {
  color: white;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
